/*--
	Author: W3ya
	Author URL: http://w3ya.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
--*/

.select2-container .select2-selection--single {
    height: 40px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-top: 5px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: 3px;
}

html,
body {
    margin: 0;
    font-size: 100%;
    width: 100%;
    background: #fff;
    font-family: 'Poppins', sans-serif;
}

body a {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.input_comentar{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.input_comentar:focus{
    box-shadow:  none;
}

.row-login{
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: solid 1px #ccc !important;
}

.pd-2{
    padding: 2px;
}

.pd-5{
    padding: 5px;
}

.pd-10{
    padding: 10px;
}

.mg-bt-10{
    margin-bottom: 10px;
}

.mg-bt-20{
    margin-bottom: 20px;
}

.mg-bt-30{
    margin-bottom: 30px;
}


.bd-0{
    border: 0px;
}

.br-0{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.br-200{
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
}

.menu_categoria{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: #0064a2;
    color: #ffffff;
}

.dropdown-breadcrumb{
    width: 100% !important;
    background: #000;
}

a:hover {
    text-decoration: none;
}

input[type="button"],
input[type="submit"],
input[type="text"],
input[type="email"],
input[type="search"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    letter-spacing: 1px;
    font-weight: 700;
}

p {
    font-size: 0.9em;
    color: #444;
    line-height: 2em;
}

ul {
    margin: 0;
    padding: 0;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

body img {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
}

/*--/header --*/

/*-- header --*/

header {
    border-top: 5px solid #0064a2;
    width: 100%;
    background: #ffffff;
}

.pagination-center { float: left; width: 100%; overflow: hidden; position: relative; }
.pagination-center ul { clear: left; float: left; position: relative; left: 50%; text-align: center; }
.pagination-center ul li { float: left; position: relative; right: 50%; list-style: none; margin-left: 10px; }

ul.pagination li a.page-link {
    padding: 1em;
}

.logo-lg{
    display: block;
}
.logo-sm{
    display: none;
}

.navbar-light .navbar-brand,
.footer h2 a {
    color: #323648;
    font-size: 33px;
    font-weight: 600;
    letter-spacing: 0px;
}

.navbar-light .navbar-brand i,
.footer h2 i {
    color: #fff;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: #0064a2;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #0064a2;
}

.navbar-light .navbar-nav .nav-link,
.dropdown-item {
    color: #1b2432;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 0 14px;
}

.dropdown-item {
    color: #333;
    font-size: 14px;
}

.dropdown-item {
    padding: 0.4rem 1.5rem;
}

.dropdown-toggle::after {
    margin-left: 0em;
    vertical-align: middle;
}

.dropdown-menu {
    border: none;
    -webkit-box-shadow: 0.15rem 0.15rem 0.1rem 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0.15rem 0.15rem 0.1rem 0 rgba(0, 0, 0, 0.05);
}

.header-right a.signin {
    font-size: 16px;
    letter-spacing: 1px;
    color: #1b2432;
}

.header-right a.signin:hover {
    color: #0064a2;
}

.header-right a.contact {
    background: #f35943;
    padding: 11px 30px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
    border-radius: 5px;
    display: inline-block;
}

.header-right a.contact:hover {
    background: #0064a2;
}

.navbar {
    padding: 0px;
}

.dropdown-toggle::after {
    display: none;
}

/*-- //header --*/

/*-- banner --*/

#home {
    background: #0064a2;
    position: relative;
}

.banner-w3layouts-info p {
    color: #b1d1f3;
    text-align: justify;
}

.banner-w3layouts-info h2,
.banner-w3layouts-info h3 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
}

.banner-w3layouts-info a {
    background: #fff;
    padding: 11px 31px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #0064a2;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    -o-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    -ms-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
}

.banner-w3layouts-info a:hover {
    background: #0064a2;
    color: #fff;
}

section.banner-w3layouts {
    padding: 4em 0 4em 0;
}

/* image layers effect */

.effect-w3 {
    position: relative;
    width: 360px;
    height: 453px;
    margin-top: 8em;
    background: hsla(0, 0%, 98%, 0.26);
    transform: rotate(-30deg) skew(25deg) scale(.8);
    transition: 0.5s;
    margin-left: 6em;
}

.effect-w3 img {
    position: absolute;
    transition: 0.5s;
}

.banner-w3layouts-info {
    margin-top: 2em;
    padding-right: 3em;
}

.effect-w3 img:nth-child(4) {
    transform: translate(160px, -160px);
    opacity: 1;
}

.effect-w3 img:nth-child(3) {
    transform: translate(120px, -120px);
    opacity: .8;
}

.effect-w3 img:nth-child(2) {
    transform: translate(80px, -80px);
    opacity: .6;
}

.effect-w3 img:nth-child(1) {
    transform: translate(40px, -40px);
    opacity: .4;
}

/* //image layers effect */

/*-- //banner-w3layouts --*/

/*-- features --*/

h3.tittle {
    font-size: 2.3em;
    letter-spacing: 1px;
    color: #292a2b;
    font-weight: 700
}

.sub-tittle {
    font-size: 0.4em;
    color: #f35943;
    font-weight: 700;
    letter-spacing: 2px;
    display: block;
}

.feature-grids h3 {
    font-size: 1.1em;
    color: #000;
    letter-spacing: 1px;
    margin-top: 0em;
    text-transform: uppercase;
}

.feature-grids p {
    margin: 0;
    color: #666;
    line-height: 28px;
    letter-spacing: .5px;
}

.feature-grids span {
    font-size: 2em;
    margin-right: 0.2em;
    vertical-align: middle;
}

.bottom-gd,
.bottom-gd2-active {
    background: #f8f9fa;
    transition: 2s all;
    -webkit-transition: 2s all;
    -moz-transition: 2s all;
    -ms-transition: 2s all;
    -o-transition: 2s all;
    box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, .1);
}

.bottom-gd2-active {
    background: #007b83 !important;
    transition: 2s all;
    -webkit-transition: 2s all;
    -moz-transition: 2s all;
    -ms-transition: 2s all;
    -o-transition: 2s all;
}
.bottom-gd:hover{
    background: #0064a2 !important;
    transition: 2s all;
    -webkit-transition: 2s all;
    -moz-transition: 2s all;
    -ms-transition: 2s all;
    -o-transition: 2s all;
}

.bottom-gd:hover.f1 i,
.bottom-gd2-active span {
    color: #fff;
}

.bottom-gd:hover.bottom-gd p,
.bottom-gd2-active p {
    color: #fff;
}

.bottom-gd:hover h3,
.bottom-gd2-active h3 {
    color: #fff;
}

/*-- //features --*/

/* services */

.serv_bottom {
    position: relative;
}

.featured-left {
    position: absolute;
    z-index: 9;
    right: -4%;
    top: 6%;
}

.fea span {
    color: #0064a2;
    font-size: 3em;
}

.fea:hover span,
.fea.active span {
    color: #fff;
}

.fea {
    background: #f3f5f9;
}

.fea h3 {
    font-size: 1.2em;
}

.fea.active {
    background: #0064a2;
}

.fea.active p,
.fea.active h3 {
    color: #fff;
}

.fetured-sec img {
    box-shadow: 14px 14px 50px -20px rgba(0, 0, 0, .1);
}

/* //services */

/*--/counter--*/

.stats {
    background: #f7f7f7;
    padding: 4em 0;
}

.counter {
    background: none;
    padding: 20px 0;
    border-radius: 0;
    color: #fff;
}

.count-title {
    font-size: 3em;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    font-weight: 600;
    color: #0064a2;
}

.count-text {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    color: #333435;
    font-weight: 600;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}

/*--//counter--*/

/*--/team--*/

.team-gd {
    padding: 2em 2em;
    background-color: #fff;
    border: 1px solid #ddd;
}

.team-info h3 {
    font-size: 1.2em;
    font-weight: 700;
    color: #262631;
    margin-bottom: 0.8em;
    text-transform: uppercase;
}

.sub-tittle-team {
    font-size: 0.6em;
    color: #0064a2;
    font-weight: 700;
    letter-spacing: 2px;
    display: block;
}

ul.team-icons li {
    list-style: none;
    display: inline-block;
    margin-right: 1em;
}

ul.team-icons li a span {
    color: #333;
    text-decoration: none;
    font-size: 18px;
}

ul.team-icons li a {
    color: #333;
    font-size: 18px;
}

.rsvp img {
    background: #eaebec;
    padding: 0.7em;
}

ul.team-icons.new-inf li a,
ul.team-icons.new-inf li span {
    font-size: 15px;
    color: #666;
}

ul.team-icons.new-inf li {
    color: #666;
    font-size: 15px;
}

.team-gd {
    padding: 3em 2em;
    background: #f8f9fa;
    transition: 2s all;
    -webkit-transition: 2s all;
    -moz-transition: 2s all;
    -ms-transition: 2s all;
    -o-transition: 2s all;
    box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, .1);
    border: transparent;
}

.team-gd.second {
    border-left: 1px solid #e4e6e6;
    border-right: 1px solid #e4e6e6;
}


/*--//team--*/

/* middle section */

.progress {
    height: 0.5rem;
    background-color: rgba(162, 163, 167, 0.49);
}

.right-side-img-tem-inside {
    float: left;
    width: 60%;
    background: url(../images/crecer.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 30vw;
}

section.hand-crafted {
    background: #262631;
}

h4.progress-tittle {
    font-size: 0.9em;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

.left-build-main-temps {
    padding: 0 4em;
    float: right;
    width: 40%;

}

/* testimonials */

.testimonials {
    background: #f5f5f5;
}

.testimonials {
    box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
}

p.sub-test {
    color: #262631;
    font-size: 17px;
    font-style: italic;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}

p.sub-test i {
    color: #105ae4;
    font-size: 1.7em;
    margin-right: 0.3em;
}

.testi_grid h5 {
    color: #0064a2;
    letter-spacing: 1px;
    font-size: 1em;
    text-transform: uppercase;
}

.testi_grid p {
    font-size: 13px;
    line-height: 0.5em;
}

.carousel-indicators li {
    width: 5px;
    height: 5px;
    background-color: #a3a7ab;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 5px;
    border: 3px solid transparent;
}

.carousel-indicators .active {
    background-color: #0d57e0;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -12px;
}

section.hand-crafted p {
    color: #818192;
}

/* //testimonials */

/*--/--*/

.ab-info-grids p {
    text-align: justify;
}

.ab-info h4 {
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #292a2b;
}

/*----*/

section.subscribe-main {
    background: #0064a2;
}

/*--/blog--*/

h6.date {
    font-size: 0.9em;
    font-weight: 400;
    color: #888;
    margin: 1em 0;
}

h6.date span {
    margin-right: 2em;
}

ul.blog_list li a {
    font-weight: 400;
    font-size: 0.9em;
    letter-spacing: 1px;
    color: #515252;
}

ul.blog_list li a:hover {
    color: #2c2d2d;
}

ul.pagination li a {
    color: #555;
}

ul.pagination {
    margin-top: 0px;
}

/*-single-*/

.single-gd {
    padding: 10px;
    border: 3px solid #f5f5f5;
    background-color: #f5f5f5;
    margin-bottom: 1em;
}

.single-gd h4 {
    font-size: 1.2em;
    color: #0e0f10;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

h5.mt-0 {
    color: #555;
    font-size: 1em;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.progress {
    font-size: 0.75em;
    line-height: 8em;
    text-align: center;
    background-color: #d6d9da;
    border-radius: 0.25rem;
    margin-bottom: 1em;
}

.card-body {
    padding: 12px;
}

.card-header {
    padding: 0;
    color: #0e0f10;
}

.card-header button.btn.btn-link {
    color: #00c389;
    font-weight: 600;
}

.single-gd form input {
    width: 100%;
}

.single-gd img {
    width: 100%;
    margin-bottom: 1em;
}

.single-gd form input[type="email"] {
    outline: none;
    padding: 12px 15px;
    font-size: 13px;
    color: #777;
    background: #ffffff;
    letter-spacing: 2px;
    border: none;
    border: 1px solid #ddd;
    margin: 0;
    border-radius: 0;
}

.single-gd form input[type="submit"] {
    background: #4f5665;
    padding: .8em 1em;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    display: block;
    outline: none;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    margin-top: 1em;
}

.single-gd form input[type="submit"]:hover {
    background: #105ae4;
}

.media-body p {
    color: #777;
    font-size: 0.875em;
    line-height: 1.9em;
    margin-bottom: 3em;
}

.comment h3,
.comment-top h4 {
    color: #222323;
    font-size: 1.3em;
    text-align: left;
    padding: 0 0 0.5em;
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
    margin-bottom: 1em;

}

.media img {
    margin-right: 15px;
}

.comment-top {
    margin-top: 2em;
}

.blog-grid-right {
    float: left;
    width: 60%;
    margin-left: 0.5em;
}

.blog-grid-left {
    float: left;
    width: 36%;
}

.blog-grid-right h5 {
    font-size: 0.95em;
    line-height: 1.4em;
    font-weight: 600;
}

.blog-grid-right h5 a {
    color: #444;
    font-size: 0.85em;
}

.tech-btm img {
    background: #fff;
    padding: 6px;
}

/* //blog responsive code */

@media screen and (max-width: 1080px) {
    .blog_info p {
        line-height: 1.5;
        letter-spacing: 0.3px;
    }
    .blog_info {
        min-height: 275px;
        padding: 1em 2em;
    }
    .blog_info.blog-right {
        min-height: 305px;
        width: 100%;
    }
}

@media screen and (max-width: 1050px) {
    .blog_info.blog-right {
        min-height: 297px;
    }
    .blog-x.br-mar {
        margin-top: 1.2em;
    }
    .blog_info.blog-right {
        min-height: 370px;
    }
    .blog_info.blog-right {
        min-height: 370px;
        width: 100%;
    }
    .blog_info.blog-right.two {
        min-height: 369px;
    }
    .single-gd h4 {
        font-size: 1em;
    }
}

@media screen and (max-width: 1024px) {
    .blog_info.blog-right {
        min-height: 372px;
    }
    .blog_info.blog-right.two {
        min-height: 373px;
    }
}

@media screen and (max-width: 991px) {
    .blog_info {
        min-height: auto;
        padding: 2em 2em;
    }
    .blog_info.blog-right {
        min-height: auto;
    }
    .blog-side.blog-top-right {
        padding-right: 0;
        margin-top: 1em;
    }
    .blog_info.blog-right.two {
        min-height: auto;
    }
    .single-gd h4 {
        font-size: 1em;
    }
    .single-left {
        margin-top: 2em;
    }
    .blog-sec .card:nth-child(2) {
        margin: 1.5em 0;
    }
}

@media screen and (max-width: 667px) {
    .row {
        margin-right: 5px;
        margin-left: 5px;
    }
    .blog-side.blog-top-right {
        padding-right: 0;
        margin-top: 1em;
        padding: 0;
    }
    .blog-sp {
        padding: 0;
    }
    .mt-3 {
        margin-top: 1em !important;
        display: block;
    }
    .single-left {
        margin-top: 2em;
        padding: 0;
    }
}

@media screen and (max-width: 640px) {
    .blog-sp {
        padding: 0;
    }
}

@media screen and (max-width: 600px) {
    .comment-top input[type="submit"] {
        width: 40%;
    }
}

@media screen and (max-width: 568px) {}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 414px) {
    .comment-top input[type="submit"] {
        width: 45%;
    }
}

@media screen and (max-width: 384px) {}

@media screen and (max-width: 375px) {}

@media screen and (max-width: 320px) {}

/* //blog responsive code */

/*--//blog--*/

.sign-info {
    padding: 3em 3em;
    border: 2px solid rgba(182, 201, 236, 0.08);
}

.sign-info h3 {
    font-size: 1.5em;
    letter-spacing: 1px;
    Color: #fff;
    text-align: center;
}

.sign-info label {
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    font-size: 0.9em;
    margin-bottom: 0;
}

label.anim span,
label.anim a {
    color: #333;
    font-size: 15px;
    display: inline;
    letter-spacing: .5px;
    text-transform: capitalize;
    float: left;
    font-weight: 400;
}

.sign-info a {
    color: #fff;
}

p.para-sign {
    color: #8eace4;
}

.sign-info input[type="text"],
.sign-info input[type="email"],
.sign-info input[type="password"] {
    outline: none;
    font-size: 15px;
    border: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    padding: 15px 20px;
    letter-spacing: 1px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.sign-info input[type="text"],
.sign-info input[type="email"],
.sign-info input[type="password"] {}

.sign-info input[type="submit"] {
    color: #0d58e2;
    background: #fff;
    border: none;
    width: 100%;
    padding: .7em 0em;
    outline: none;
    font-size: 17px;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    margin-top: 2em;
    box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    -o-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    -ms-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    border-radius: 25px;
}

.sign-info input[type="submit"]:hover {
    background: #f35943;
    color: #fff;
}

.icon1,
.icon2 {
    position: relative;
    margin-top: 1.1em;
}

.rem-w3 {
    margin: 1.5em 0;
}

/*-- checkbox --*/

.anim {
    position: relative;
    display: block;
    margin: 1.5em 0;
}

label.anim span,
label.anim a {
    color: #fff;
    font-size: 15px;
    display: inline;
    letter-spacing: .5px;
    text-transform: capitalize;
    float: left;
}

label.anim a {
    display: inline-block;
    text-decoration: none;
    float: right;
}

input.checkbox {
    background: #1761ea;
    cursor: pointer;
    width: 1em;
    height: 1em;
    margin: 3px 8px 0 0 !important;
    float: left;
}

input.checkbox:before {
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    background: inherit;
    cursor: pointer;
}

input.checkbox:after {
    content: "";
    transition: .4s ease-in-out;
    position: absolute;
    top: 2px;
    left: 0px;
    z-index: 1;
    width: 1.2em;
    height: 1.2em;
    /* margin-top: 4px; */
    border: 1px solid #ffffff;
}

input.checkbox:checked:after {
    transform: rotate(-45deg);
    height: .5rem;
    border-color: #fff;
    border-top-color: transparent;
    border-right-color: transparent;
}

.anim input.checkbox:checked:after {
    transform: rotate(-45deg);
    height: .5rem;
    border-color: transparent;
    border-right-color: transparent;
    animation: .4s rippling .4s ease;
    animation-fill-mode: forwards;
}

@keyframes rippling {
    50% {
        border-left-color: #d24747;
    }
    100% {
        border-bottom-color: #fff;
        border-left-color: #fff;
    }
}

/*-- //checkbox --*/

/*-- contact page --*/

.contact-info p {
    margin: 0 auto;
    width: 84%;
}

.contact-form-inner {
    margin: 0 auto;
    width: 70%;
}

.contact-form .form-control {
    padding: 0.9em;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-size: 0.9em;
    letter-spacing: 1px;
}

.contact-form label {
    font-weight: 700;
    letter-spacing: 1px;
    color: #333;
    font-size: 0.9em;
}

.contact-form textarea {
    overflow: auto;
    resize: vertical;
    height: 10em;
}

.contact-form button.btn {
    background: #181a1d;
    padding: 10px 30px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.contact-form button.btn:hover {
    background-image: linear-gradient(to left bottom, #0652dd, #0d58e2, #145de7, #0064a2, #1e68f0);
}

.map iframe {
    width: 100%;
    min-height: 300px;
    border: none;
    border: 4px solid #eee;
}

/*-- contact page --*/

.newsletter-info {
    background-color: #fff;
    box-shadow: 0 20px 100px -20px rgba(0, 0, 0, .3);
    border-radius: 6px;
}

.newsletter-info input[type="email"] {
    padding: 1.2em 1.5em;
    font-size: 16px;
    color: #000;
    outline: none;
    letter-spacing: 2px;
    border: none;
    border: 1px solid #dad8d8;
    flex-basis: 100%;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 700;
}

.newsletter-info input[type="submit"] {
    color: #fff;
    font-size: 17px;
    letter-spacing: 1px;
    padding: 14px 0;
    border: transparent;
    background: #2d2c2c;
    flex-basis: 30%;
    text-transform: uppercase;
    margin-left: -2em;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
    background: #0064a2;
    font-weight: 600;
    cursor: pointer;
}

/*--footer--*/

.footer_1its {
    background: #17181b;
}

.footer_1its h3,
.footer_1its h2 {
    font-size: 1.5em;
    color: #eee;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.footer-text p,
.contact-info p {
    color: #444;
    font-size: 15px;
    line-height: 1.8em;
    letter-spacing: 1px;
}

.phone {
    margin-top: 20px;
}

.contact-info h4 {
    font-style: normal;
    font-weight: 300;
    font-size: 1.3em;
    line-height: 1.71;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #fff;
}

.copy-w3layoutsright {
    border-top: 1px solid #808080;
    margin-left: 15px;
}

.copy-w3layoutsright p {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.copy-w3layoutsright p a {
    color: #ea1d5d;
    text-decoration: underline;
}

.copy-w3layoutsright p a:hover {
    color: #fff;
}

.footer p,
.footer a {
    color: #727377;
    margin: 8px 0;
}

.footer a:hover {
    color: #fff;
}

.footer-grid:nth-child(2) {
    border-left: 1px solid #1b1b1b;
    border-right: 1px solid #1b1b1b;
}

.footer ul li.hd {
    color: #34bf49;
}

.newsletter .email {
    background-color: #F4F4F4;
    border: none;
}

.flickr-grid {
    float: left;
    width: 32%;
    margin: 0 0.1em .2em;
}

.flickr-grid a img {
    width: 100%;
    padding: 0.3em;
    border: 1px solid #333333;
}

.footer-text input[type="email"] {
    outline: none;
    padding: 12px 15px;
    color: #fff;
    font-size: 13px;
    width: 85%;
    border: none;
    background: none;
    letter-spacing: 1px;
}

.newsletter {
    position: relative;
    margin-top: 2em;
}

button.btn1 {
    color: #808080;
    border: none;
    padding: 10px 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    background: none;
    cursor: pointer;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    float: right;
    width: 15%;
}

.footer-grid_section_1its form {
    border: 1px solid #808080;
    width: 100%;
    margin-top: 20px;
}

ul.social_section_1info li {
    display: inline-block;
}

ul.social_section_1info {
    margin-top: 20px;
}

ul.social_section_1info a {
    color: #717580;
    margin-right: 10px;
    font-size: 13.5px;
    margin-right: 2px;
    width: 35px;
    height: 35px;
    background: #121215;
    padding: 9px 20px;
    text-align: center;
    line-height: 35px;
    letter-spacing: 1px;
    border-radius: 25px;
}

ul.social_section_1info a:hover {
    color: #fff;
}

.phone p a {
    color: #808080;
}

.phone p a:hover {
    color: #fff;
}

ul.links li {
    list-style-type: none;
    margin: 5px 0;
}

ul.links li a {
    color: #727377;
    font-size: 14px;
    letter-spacing: 1px;
}

ul.links li a:hover {
    color: #fff;
}

.cpy-right {
    background: #1c1d21;
}

.cpy-right p,
.cpy-right a {
    letter-spacing: 1px;
    color: #999;
    line-height: 1em;
    margin-top: 1em;
}

.cpy-right a:hover {
    color: #eee;
}

.footer-title-w3ls a {
    font-size: 3em;
    text-transform: capitalize;
    font-weight: 700;
    color: #eee;
}

.footer-grid_section {
    width: 100%;
    margin: auto;
}

li.facebook a {
    color: #fff;
    background: #3b5998;
}

li.twitter a {
    color: #fff;
    background: #1da1f2;
}

li.google a {
    color: #fff;
    background: #dd4b39;
}

li.linkedin a {
    color: #fff;
    background: #0077b5;
}

ul.social_section_1info a:hover {
    opacity: 0.8;
}

/*--//footer--*/

/*-- to-top --*/

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 2%;
    overflow: hidden;
    z-index: 999;
    width: 36px;
    height: 36px;
    border: none;
    text-indent: 100%;
    background: #0d0d0d url(../images/move_up.png) no-repeat 10px 9px;
}

#toTopHover {
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}

/*-- //to-top --*/

@media(max-width:1366px) {
    .effect-w3 {
        width: 250px;
        height: 315px;
    }
    h3.tittle,
    .ab-info h4 {
        font-size: 2em;
    }
}

@media(max-width:1280px) {
    .right-side-img-tem-inside {
        min-height: 38vw;
    }
}

@media(max-width:1080px) {
    .banner-w3layouts-info h2,
    .banner-w3layouts-info h3 {
        font-size: 2.5em;
    }
    .featured-left.text-center {
        right: -14%;
        top: -4%;
    }
    .team-info h3 {
        font-size: 1em;
    }
    .right-side-img-tem-inside {
        min-height: 44vw;
    }
}

@media(max-width:1024px) {

    .banner-w3layouts-info {
        margin-top: 0em;
        padding-right: 3em;
    }
    .sign-info h3 {
        font-size: 1.6em;
    }
    .footer-grid_section {
        width: 80%;
        margin: auto;
    }
}

@media(max-width:991px) {

    .navbar-light .navbar-nav .show > .nav-link,
    .navbar-light .navbar-nav .active > .nav-link,
    .navbar-light .navbar-nav .nav-link.show,
    .navbar-light .navbar-nav .nav-link.active {
        color: #fff;
        background-color: #0064a2;
    }

    header{
        /*background: #363768;*/
    }

    .logo-lg{
        display: none;
    }

    .logo-sm{
        display: block;
    }

    .banner-w3layouts-info {
        margin-top: 0em;
        padding-right: 0;
        margin: 2em 0;
    }
    .effect-w3 {
        width: 305px;
        height: 385px;
    }
    section.banner-w3layouts {
        padding: 4em 0 2em 0;
    }
    .navbar-light .navbar-nav .nav-link,
    .dropdown-item {
        color: #fff;
        font-size: 15px;
        letter-spacing: 1px;
        padding: 0px;
        margin: 0.7em 0;
    }

    .navbar-light .navbar-nav .nav-link{
        color: #0064a2;
        font-size: 15px;
        letter-spacing: 1px;
        padding: 0px;
        margin: 0.2em 0;
        border: 1px solid #0064a2;
        padding: 8px;
    }
    .navbar-light .navbar-nav .nav-link:hover{
        color: #0064a2;
        background: #fff;
    }
    .header-right{
        padding-top: 5px;
    }
    .header-right a.contact{
        width: 48% !important;
        margin: 0px !important;
        float: left !important;
        padding: 12px;
    }
    .header-right a.mr-2{
        margin-right: 4% !important;
    }

    div#navbarSupportedContent {
        padding: 1em 0;
    }
    .navbar-light .navbar-toggler {
        color: #fff;
        border-color: transparent;
        background: #fff;
        border-radius: 0;
        padding: 12px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
    .right-side-img-tem-inside {
        min-height: 29vw;
    }
    h4.progress-tittle {
        font-size: 0.8em;
        margin-bottom: 0.5em;
    }
    .fetured-info {
        padding-top: 2em;
    }
    .featured-left {
        right: 0;
        top: 0;
        position: static;
        margin-bottom: 2em;
    }
    .team-info li.linkedin {
        margin-top: 0.5em;
    }
    .team-gd {
        padding: 2.5em 1em;
    }
    .dropdown-item {
        color: #333;
        font-size: 14px;
        padding: 10px 15px;
        margin: 0.5em 0;
    }
    .feature-grids {
        margin-top: 2em;
    }
    .sign-info {
        margin-bottom: 3em;
    }
    .contact-info p {
        margin: 0 auto;
        width: 90%;
    }
    .blog-sldebar-right {
        margin-top: 3em;
    }
    .left-build-main-temps {
        padding: 2em 3em 0 3em;
        float: right;
        width: 100%;
    }

    .right-side-img-tem-inside {
        min-height: 43vw;
        float: left;
        width: 100%;
    }
    .progress {
        margin-bottom: 2em;
    }
    .testimonials_grid {
        margin-top: 1.5em;
    }
}



@media(max-width:900px) {
    .contact-info p {
        margin: 0 auto;
        width: 90%;
    }
    .banner-w3layouts-info {
        margin-top: 0em;
        padding-right: 10em;
        margin: 2em 0;
    }
}

@media(max-width:768px) {
    .banner-w3layouts-info {
        margin-top: 0em;
        padding-right: 0em;
        margin: 2em 0;
    }
    .effect-w3 {
        width: 220px;
        height: 275px;
    }
    .banner-w3layouts-info h2,
    .banner-w3layouts-info h3 {
        font-size: 2.3em;
    }
}

@media(max-width:736px) {
    .hide-736 {
        display: none;
    }

    .team-gd.second {
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        margin: 2em 0;
    }
    .contact-form-inner {
        margin: 0 auto;
        width: 90%;
    }
    .map {
        margin-top: 1em;
    }
    .footer-grid_section {
        width: 100%;
        margin: auto;
    }
    .footer-title-w3ls a {
        font-size: 2.3em;
    }
    .inner-tittle {
        padding-top: 1em;
    }
}

@media(max-width:667px) {
    .banner-w3layouts-info h2,
    .banner-w3layouts-info h3 {
        font-size: 2em;
    }
    h3.tittle,
    .ab-info h4 {
        font-size: 1.8em;
    }
    .fea h3 {
        font-size: 1.1em;
    }
}

@media(max-width:640px) {
    .feature-grids h3 {
        font-size: 1em;
    }
    .fea h3 {
        font-size: 1em;
    }
}

@media(max-width:600px) {
    .contact-form-inner {
        margin: 0 auto;
        width: 100%;
    }
    h3.tittle {
        font-size: 1.6em;
    }
}

@media(max-width:568px) {}

@media(max-width:480px) {
    .effect-w3 {
        width: 140px;
        height: 170px;
    }
    .banner-w3layouts-info {
        margin-top: 0em;
        padding-right: 15px;
        margin: 1em 0 2em 0;
    }
    .count-title {
        font-size: 2.5em;
    }
    .effect-w3 img:nth-child(1) {
        transform: translate(30px, -30px);
        opacity: .4;
    }
    .effect-w3 img:nth-child(2) {
        transform: translate(60px, -60px);
        opacity: .6;
    }
    .effect-w3 img:nth-child(3) {
        transform: translate(90px, -90px);
        opacity: .8;
    }
    .effect-w3 img:nth-child(4) {
        transform: translate(120px, -120px);
        opacity: 1;
    }
}

@media(max-width:414px) {
    h3.tittle {
        font-size: 1.4em;
    }
    .bottom-gd.fea {
        padding: 2em !important;
    }
    .footer-text p,
    .contact-info p {
        font-size: 14px;
    }
}

@media(max-width:384px) {
    .effect-w3 {
        width: 95px;
        height: 110px;
    }
    .effect-w3 img:nth-child(1) {
        transform: translate(20px, -20px);
        opacity: .4;
    }
    .effect-w3 img:nth-child(2) {
        transform: translate(40px, -40px);
        opacity: .6;
    }
    .effect-w3 img:nth-child(3) {
        transform: translate(60px, -60px);
        opacity: .8;
    }
    .effect-w3 img:nth-child(4) {
        transform: translate(80px, -80px);
        opacity: 1;
    }
    .banner-w3layouts-info {
        margin-top: 0em;
        padding-right: 15px;
        margin: 0em 0 0em 0;
    }
    .banner-w3layouts-info h2,
    .banner-w3layouts-info h3 {
        font-size: 1.8em;
    }
}

@media(max-width:375px) {
    .banner-w3layouts-info h2,
    .banner-w3layouts-info h3 {
        font-size: 1.6em;
    }
}

@media(max-width:320px) {}

/*--//responsive--*/

.sign-info h3, .sign-info a {
    color: #000;
}

p.para-sign {
    color: #727377;
}

.sign-info input[type="email"], .sign-info input[type="text"], .sign-info input[type="password"]{
    border: 1px solid #ccc;
    color: #727377;
}

.sign-info label{
    color: #727377;
}

.centrado{
    float: none;
    margin: 0 auto;
}
